
#console-9{
    width: 86%;
    background: #292c3b;
    border-radius: 5px;
    margin: 0 7%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#form-9{
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    width: 100%;
}