*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    margin-left: 5%;
    margin-top: 50px;
}
.algorithms-list{
    list-style: none;
    margin-top: 40px;
}
.algorithms-list li{
    display: block;
    width: 500px;
    background: rgb(62, 62, 224);
    margin-bottom: 10px;
    padding: 15px 25px;
    margin-left: 5%;
    border-radius: 5px;
    color: #f2f2f2;
    cursor: pointer;
}